<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>MOD</string>
                <string>mod</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>pt2-clone-macos.icns</string>
            <key>CFBundleTypeName</key>
            <string>Amiga tracker module</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>pt2-clone-macos</string>
    <key>CFBundleGetInfoString</key>
    <string>ProTracker 2 clone</string>
    <key>CFBundleIconFile</key>
    <string>pt2-clone-macos.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.16-bits.pt2-clone-macos</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ProTracker 2 clone</string>
    <key>CFBundleDisplayName</key>
    <string>ProTracker 2 clone</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersion</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>Pt2c</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © Olav "8bitbubsy" Sørensen
https://16-bits.org</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.11</string>
    <key>CGDisableCoalescedUpdates</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>This program needs access to your audio device.</string>
</dict>
</plist>
